*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
}

.calculator{
    width: 300px;
    height: 450px;

    background-color: aliceblue;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 2px;

    padding: 2px;

    border: 2px solid black;
    border-radius: 12px;
    overflow: hidden;

}

.calculator > input {
    grid-area: 1 / 1 / 2 / -1;

    text-align: end;
    font-size: 40px;
    font-weight: 700;

    background-color: black;
    color: aliceblue;
    outline: none;
    padding-right: 10px;

    border-radius: 12px;
}

.calculator > button{
    border-radius: 12px;

    font-size: 30px;
    background-color: black;
    color: gray;
}

.calculator > button:hover{
    border: 2px solid rgb(255, 47, 47);
}


.calculator > button:active{
    background-color: aqua;
    color: white;
    border: 2px solid black;
}
